useDynLib(rtk, .registration = TRUE)
export(rtk)
export(collectors.curve)
export(get.diversity)
export(get.median.diversity)
export(get.mean.diversity)
S3method(plot, rtk)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, sourceCpp)
import(stats)
import(graphics)
import(grDevices)
importFrom("utils", "str") 
importFrom("methods", "is")
